<% include includes/head %>

    <body>
        <% include includes/topbar %>
            <div class="container-fluid">
                <div class="row">

                    <% include includes/sidebar %>
                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5">
                        <div
                            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h1 class="h2">Finances</h1>
                    
                            <div class="btn-toolbar mb-2 mb-md-0">
                                <!-- <div class="btn-group me-2">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Print</button>
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                                            </div> -->
                                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <!-- Action goes here -->
                                    Today
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item <%= ((param && param == 'today') ? 'active' : '' ) %>" href="/admin/finance/today">Today</a></li>
                                    <li><a class="dropdown-item <%= ((param && param == 'week') ? 'active' : '' ) %>" href="/admin/finance/week">This Week</a></li>
                                    <li><a class="dropdown-item <%= ((param && param == 'month') ? 'active' : '' ) %>" href="/admin/finance/month">This Month</a></li>
                                    <li><a class="dropdown-item <%= ((param && param == 'year') ? 'active' : '' ) %>" href="/admin/finance/year">This Year</a></li>
                                </ul>
                            </div>
                        </div>
                    
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            <div class="col">
                                <!-- <input type="checkbox" id="card-1" /> -->
                                <div class="card bg-dark text-white h-100 shadow-lg border-0 py-4">
                                    <div class="card-body">
                                    <% if (report.total && report.total != null) { %>
                                        <h3>&#8358;<%= report.total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></h3>
                                    <% } else { %>
                                        <h3>&#8358;0.00</h3>
                                    <% } %>
                                        <h6 class="text-muted small mt-3">Total Amount</h6>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="col">
                                <!-- <input type="checkbox" id="card-2" /> -->
                                <div class="card bg-dark text-white h-100 shadow-lg border-0 py-4">
                                    <div class="card-body">
                                        <h3><%= report.count %> </h3>
                                        <h6 class="text-muted small mt-3">Total Sales</h6>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="col">
                                <input type="checkbox" id="card-3" />
                                <label class="card-container" for="card-3">
                                    <div class="card-flip">
                                        <div class="front">
                                            <div class="card bg-dark text-white h-100 shadow-lg border-0 position-relative">
                                                <div class="card-body">
                                                    <div class="py-4">
                                                        <h3><%= cart_total.count %></sub> <span class="lead">carton(s)</span></h3>
                                                        <h3>
                                                            <%= single_total.count %></sub> <span class="lead">single</span>
                                                        </h3>
                                                        <h6 class="text-muted small mt-3">Vault Remainder</h6>
                                                    </div>
                                                    <button type="button"
                                                        class="position-absolute top-0 end-0  btn btn-sm btn-outline-secondary rounded-pill m-3"
                                                        style="width: 2rem; height:2rem;" data-bs-toggle="tooltip"
                                                        data-bs-placement="bottom" title="Tap on card"><i
                                                            class="fa-solid fa-exclamation"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="back">
                                            <div class="card h-100 shadow border-0">
                                                <div class="card-body">
                                                    <h6 class="card-title text-muted">Vault Remainder</h6>
                                                <% if (carts && carts.length > 0) { %>
                                                    <ul class="list-group list-group-flush small c">
                                                    <% for ( var d =0; d < carts.length; d++) { %>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            <%= carts[d].name; %>
                                                            <span class="badge bg-primary rounded-pill"><%= carts[d].qty; %></span>
                                                        </li>
                                                    <% } %>
                                                    <% for ( var f=0; f < single.length; f++) { %>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            <%= single[f].name; %>
                                                            <span class="badge bg-primary rounded-pill">
                                                                <%=  single[f].qty; %>
                                                            </span>
                                                        </li>
                                                    <% } %>
                                                <% } %>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                    
                            <div class="col">
                                <input type="checkbox" id="card-4" />
                                <label class="card-container" for="card-4">
                                    <div class="card-flip">
                                        <div class="front">
                                            <div class="card bg-dark text-white h-100 shadow-lg border-0 position-relative">
                                                <div class="card-body">
                                                    <div class="py-4">
                                                    
                                                        <h3><%= crt %> <span class="lead">cartons</span></h3>
                                                        <h3>
                                                            <%= sgl %> <span class="lead">single</span>
                                                        </h3>
                                                        <h6 class="text-muted small mt-3">Stock Remainder</h6>
                                                    </div>
                                                    <button type="button"
                                                        class="position-absolute top-0 end-0 btn btn-sm btn-outline-secondary rounded-pill m-3"
                                                        style="width: 2rem; height:2rem;" data-bs-toggle="tooltip"
                                                        data-bs-placement="bottom" title="Tap on card"><i
                                                            class="fa-solid fa-exclamation"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="back">
                                            <div class="card h-100 shadow border-0">
                                                <div class="card-body">
                                                    <h6 class="card-title text-muted">Stock Remainder</h6>
                                                <% if (stock && stock.length> 0) { %>
                                                    <ul class="list-group list-group-flush small c">
                                                    <% for ( var d=0; d < stock.length; d++) { %>
                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                            <%= stock[d].name %>
                                                            <span class="badge bg-primary rounded-pill"><%= stock[d].qty %></span>
                                                        </li>
                                                    <% } %>
                                                        
                                                    </ul>
                                                <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    
                        <div class="mt-5">
                    
                            <div class="row border-bottom mb-3">
                    
                                <div class="col-auto">
                                    <h4>View Sales</h4>
                                </div>
                    
                                <div class="col-auto ms-auto pe-2">
                                    <div class="btn-group">
                                        <button type="button" id="printReportBtn" class="btn btn-sm btn-outline-secondary">Print</button>
                                        <button type="button" id="exportReportBtn" onclick="generatePDF()"
                                            class="btn btn-sm btn-outline-secondary">Export</button>
                                    </div>
                                </div>
                    
                                <div class="col-auto ps-0">
                    
                                    <div class="input-group mb-3 border border-secondary rounded">
                                        <span class="input-group-text bg-white border-0" id="date-addon"><i
                                                class="fa-solid fa-calendar-days text-secondary"></i></span>
                                        <input type="text" class="form-control border-0 ps-0 bg-white text-secondary" id="daterange"
                                            value="01/01/2018 - 01/15/2018" aria-describedby="date-addon" readonly />
                                    </div>
                    
                                </div>
                            </div>
                    
                            <table class="cell-border" id="daySalesTable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Sales</th>
                                        <th scope="col">Total(&#8358;)</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% if (sales && sales.length > 0) { %>
                                <% for (var s = 0; s < sales.length; s++) { %>
                                    <tr>
                                        <th scope="row"></th>
                                        <td><%= sales[s].date_created %></td>
                                        <td><%= JSON.parse(sales[s].items).length %></td>
                                        <td><%= sales[s].subtotal %></td>
                                        <td> 
                                            <button data-name="<%= sales[s].date_created %>" data-id="<%= sales[s].id %>" class="btn btn-sm btn-outline-dark showey" type="button" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop">
                                                <i class="fa-solid fa-eye"></i>
                                            </button>
                                        </td>
                                    </tr>
                                <% } } %>
                                </tbody>
                            </table>
                        </div>
                    
                    
                        <!-- View More Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                            aria-labelledby="staticBackdropLabel" aria-hidden="true" style="background: rgb(97, 92, 92)">
                            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Sales for Wed 23, March 2022</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    <% if (sales && sales.length> 0 ) { %>
                                        <% for (var s=0; s < sales.length; s++) { %>
                    
                                            <div class="table-responsive show show-<%= sales[s].id%> d-none">
                                                <table class="table table-bordered" id="transTable">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Receipt No.</th>
                                                            <th scope="col">Timestamp</th>
                                                            <th scope="col">Cashier</th>
                                                            <th scope="col">Payment</th>
                                                            <th scope="col">Product</th>
                                                            <th scope="col">Qty/Size</th>
                                                            <th scope="col">Price(&#8358;)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="border-top-0">
                                                        <% if (sales && JSON.parse(sales[s].items).length> 0 ) { %>
                                                            <% for (var i=0; i < JSON.parse(sales[s].items).length; i++) { item=JSON.parse(sales[s].items) %>
                                                                <% if (i==0) { %>
                                                                    <tr>
                                                                        <th scope="row"></th>
                                                                        <td>
                                                                            <%= sales[s].receipt_no %>
                                                                        </td>
                                                                        <td class="small">
                                                                            <%= sales[s].date_created %>
                                                                        </td>
                                                                        <td>
                                                                            <%= sales[s].trans_by %>
                                                                        </td>
                                                                        <td>
                                                                            <%= sales[s].payment_type %>
                                                                        </td>
                                                                        <td>
                                                                            <%= item[i].name %>
                                                                        </td>
                                                                        <td>
                                                                            <%= item[i].qty + ' ' + item[i].vlt_type %>
                                                                        </td>
                                                                        <td>
                                                                            <%= item[i].price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "," ) %>
                                                                        </td>
                                                                    </tr>
                                                                    <% } else { %>
                                                                        <tr>
                                                                            <td rowspan="3" colspan="5"></td>
                                                                            <td>
                                                                                <%= item[i].name %>
                                                                            </td>
                                                                            <td>
                                                                                <%= item[i].qty + ' ' + item[i].vlt_type %>
                                                                            </td>
                                                                            <td>
                                                                                <%= item[i].price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "," ) %>
                                                                            </td>
                                                                        </tr>
                                                                        <% } %>
                                                                            <% } } %>
                                                    
                                                    
                                                    
                                                    </tbody>
                                                </table>
                                            </div>
                                        <% }} %>
                                    </div>
                                    <div class="modal-footer">
                                    <% if (sales && sales.length> 0 ) { %>
                                        <% for (var s=0; s < sales.length; s++) { %>
                                        <span class="bg-primary py-2 px-5 text-white rounded me-auto show show-<%= sales[s].id%> d-none">Total:
                                            <b>&#8358;<%= sales[s].subtotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> </b></span>
                                        <% }} %>
                    
                                        <button type="button" id="printDayReportBtn" class="btn btn-dark"><i class="fa-solid fa-print"></i>
                                            Print</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    </main>

                </div>
            </div>

            <!-- General Report -->
            <div class="d-none" id="printReport">
            
                <div class="row px-5 py-2">
                    <div class="col">
                        <h5 class="fw-bold">FishMart Report</h5>
                    </div>
                    <div class="col text-end">
                        <span>From: <%= from_date %></span> <br>
                        <span> To: <%= to_date %></span>
                    </div>
                </div>
                <div class="row">
            
                    <div class="col-md-12 px-4 mt-3">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Vault Remainder Carton(s) <span class="badge bg-secondary rounded-pill"><%= cart_total.count %></span>
                                    </th>
                                    <th scope="col">Vault Remainder Carton(s) <span class="badge bg-secondary rounded-pill">
                                            <%= single_total.count %>
                                        </span>
                                    </th>
                                    
                                    <th scope="col">Stock Remainder Carton
                                        <span class="badge bg-secondary rounded-pill">
                                            <%= crt %>
                                        </span>
                                    </th>
                                    <th scope="col">Stock Remainder Single 
                                        <span class="badge bg-secondary rounded-pill">
                                            <%= sgl %>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            <% if (carts && carts.length> 0) { %>
                            <% for ( var d =0; d < carts.length; d++) { %>
                                <tr>
                                    <td><%= carts[d].name; %> <span class="badge bg-primary rounded-pill"><%= carts[d].qty; %></span> </td>
                                    <td colspan="3"></td>
                                </tr>
                            <% } } %>
                            <% if (single && single.length> 0) { %>
                            <% for ( var f=0; f < single.length; f++) { %>
                                <tr>
                                    <td colspan="1"></td>
                                    <td>
                                        <%= single[f].name; %> 
                                        <span class="badge bg-primary rounded-pill">
                                            <%= single[f].qty; %>
                                        </span>
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                            <% } %>
                            <% } %>
                            
                            <% if (stock && stock.length> 0) { %>
                            <% for ( var d=0; d < stock.length; d++) { %>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2"><%= stock[d].name; %> <span class="badge bg-primary rounded-pill"><%= stock[d].qty; %></span> </td>
                                </tr>
                            <% }} %>
                            </tbody>
                        </table>
                    </div>
            
                    <h4 class="fw-bold px-4 my-4">Sales Breakdown</h4>
            
                    <div class="col-md-12">
                        <div class="">
                        <% if (sales && sales.length > 0 ) { %>
                        <% for (var s = 0; s < sales.length; s++) { %>
                            <table class="table table-bordered table-dark mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col"><%= sales[s].date_created %></th>
                                        <th scope="col">No. of Sales: <%= JSON.parse(sales[s].items).length %></th>
                                        <th scope="col">Total: &#8358;<%= sales[s].subtotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="table table-bordered mb-0" id="reportTbl">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Receipt No.</th>
                                        <th scope="col">Timestamp</th>
                                        <th scope="col">Cashier</th>
                                        <th scope="col">Payment</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Qty/Size</th>
                                        <th scope="col">Price(&#8358;)</th>
                                    </tr>
                                </thead>
                                <tbody class="border-top-0">
                                <% if (sales && JSON.parse(sales[s].items).length > 0 ) { %>
                                <% 
                                    for (var i=0; i < JSON.parse(sales[s].items).length; i++) { 
                                        item = JSON.parse(sales[s].items)
                                %>
                                    <% if (i == 0) { %>
                                        <tr>
                                            <th scope="row"></th>
                                            <td><%= sales[s].receipt_no %> </td>
                                            <td class="small"><%= sales[s].date_created %></td>
                                            <td><%= sales[s].trans_by %></td>
                                            <td><%= sales[s].payment_type %></td>
                                            <td><%= item[i].name %></td>
                                            <td><%= item[i].qty + ' ' + item[i].vlt_type %></td>
                                            <td><%= item[i].price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                                        </tr>
                                    <% } else { %>
                                    <tr>
                                        <td rowspan="3" colspan="5"></td>
                                        <td>
                                            <%= item[i].name %>
                                        </td>
                                        <td>
                                            <%= item[i].qty + ' ' + item[i].vlt_type %>
                                        </td>
                                        <td>
                                            <%= item[i].price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                        </td>
                                    </tr>
                                    <% }  %>
                                <% 
                                    }
                                }

                                %>
                                   
            

                                </tbody>
                            </table>
                        <% } } %>
                    </div>
            
                    <% if ( total && total.total != null ) { %>
                        <h6 class="fw-bold float-end my-3 me-3 ps-5 pt-2 border-top border-2">Total Amount:
                            &#8358;<%= total.total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                        </h6>
                    <% } %>

            
                    </div>
            
            
                </div>
            </div>
            
    <script src="/js/others/html2pdf.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <!-- Date Range picker -->
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script> -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="/js/custom/main.js"></script>
    <script src="/js/custom/script_7.js"></script>
    
    </body>

    </html>