<% include includes/head %>

    <body>
        <% include includes/topbar %>
            <div class="container-fluid">
                <div class="row">
                    <% include includes/sidebar %>

                        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                <h1 class="h2">User Management</h1>
                            </div>

                        <form>
                            <div class="mb-2 row">
                                <div class="col-md-12">
                                    <div id="error-u" class="text-center text-danger">

                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-md-3">
                                    <label for="username" class="form-label">Username</label>
                                <% if (edit && edit.username != '') { %>
                                    <input type="text" value="<%= edit.username %>" class="form-control" id="username" readonly required>
                                <% } else { %>
                                    <input type="text" value="<%= edit.username %>" class="form-control" id="username" readonly required>
                                <% } %>
                                </div>
                                <div class="col-md-3">
                                    <label for="fname" class="form-label">First name</label>
                                    <% if (edit && edit.fname !='' ) { %>
                                        <input type="text" value="<%= edit.fname %>" id="fname" class="form-control" required>
                                    <% } else { %>
                                        <input type="text" id="fname" class="form-control" required>
                                    <% } %>
                                    
                                </div>
                                <div class="col-md-3">
                                    <label for="lname" class="form-label">Last name</label>
                                    <% if (edit && edit.lname !='' ) { %>
                                        <input type="text" value="<%= edit.lname %>" id="lname" class="form-control" required>
                                    <% } else { %>
                                        <input type="text" id="lname" class="form-control" required>
                                    <% } %>
                                    
                                </div>
                                <div class="col-md-3">
                                    <label for="gender" class="form-label">Gender</label>
                                    <% if (edit && edit.gender !='' ) { %>
                                        <select class="form-select" id="gender" aria-label="Default select example">
                                            <option selected value="<%= edit.gender %>"><%= edit.gender %></option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    <% } else { %>
                                        <select class="form-select" id="gender" aria-label="Default select example">
                                            <option selected disabled>Select</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    <% } %>
                                    
                                </div>
                                
                                
                            </div>
                            <div class="mb-3 row">
                                <div class="col-md-4">
                                    <label for="role" class="form-label">Role</label>
                                    <% if (edit && edit.user_type !='' ) { %>
                                        <select class="form-select" id="role" aria-label="Default select example">
                                            <option value="<%= edit.user_type %>" selected><%= edit.user_type %></option>
                                        <% if (sett.user_types && sett.user_types.length> 0) { %>
                                            <% for (var n=0; n < sett.user_types.length; n++) { %>
                                            <option value="<%= sett.user_types[n]; %>"><%= sett.user_types[n]; %></option>
                                            <% } %>
                                        <% } %>
                                            <!-- <option value="Vaulter">Vaulter</option>
                                            <option value="Accountant">Accountant</option>
                                            <option value="Admin">Admin</option> -->
                                        </select>
                                    <% } else { %>
                                        <select class="form-select" id="role" aria-label="Default select example">
                                            <option selected disabled>Select</option>
                                        <% if (sett.user_types && sett.user_types.length> 0) { %>
                                            <% for (var n=0; n < sett.user_types.length; n++) { %>
                                                <option value="<%= sett.user_types[n]; %>">
                                                    <%= sett.user_types[n]; %>
                                                </option>
                                            <% } %>
                                        <% } %>
                                        </select>
                                    <% } %>
                
                                </div>

                                <div class="col-md-4">
                                    <label for="email" class="form-label">Email</label>
                                    <% if (edit && edit.email !='' ) { %>
                                        <input type="email" value="<%= edit.email %>" id="email" class="form-control" required>
                                    <% } else { %>
                                        <input type="email" id="email" class="form-control" required>
                                    <% } %>
                                    
                                </div>

                                <div class="col-md-4">
                                    <label for="phone" class="form-label">Phone</label>
                                    <% if (edit && edit.phone !='' ) { %>
                                        <input type="phone" value="<%= edit.phone %>" id="phone" class="form-control" required>
                                    <% } else { %>
                                        <input type="phone" id="phone" class="form-control" required>
                                    <% } %>
                                    
                                </div>
                            </div>
                            
                            <div class="mb-3 row">
                                <div class="col-md-9">
                                    <label for="inputPassword5" class="form-label">Password</label>
                                    <input type="password" id="password" class="form-control" aria-describedby="passwordHelpBlock"
                                        required>
                                    <div id="passwordHelpBlock" class="form-text">
                                        Your password must be 8-20 characters long, contain letters and numbers, and must not
                                        contain spaces, special characters, or emoji.
                                    </div>
                                </div>
                                
                            <% if (!edit && !edit.id) { %>
                                <div class="col-md-3">
                                    <label for="" class="form-label text-white">.</label>
                                    <button type="button" id="add" class="btn btn-success btn-lg form-control">Add</button>
                                </div>
                            <% } else { %>
                                <div class="col-md-3">
                                    <label for="" class="form-label text-white">.</label>
                                    <button type="button" id="edit" data-id="<%= edit.id %>" class="btn btn-success btn-lg form-control">
                                        Update
                                    </button>
                                </div>
                            <% }  %>
                        
                            </div>
                        </form>

                        <div class="table-responsive mt-5">
                        <% if (usrs && usrs.length> 0) { %>
                            <table class="table table-bordered caption-top">
                                <caption>List of users</caption>
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Joined</th>
                                        <th scope="col">Last Login</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    <% for (let u = 0; u < usrs.length; u ++) { %>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td><%= usrs[u].fname + ' ' + usrs[u].lname %></td>
                                            <td><%= usrs[u].username %></td>
                                            <td><%= usrs[u].user_type %></td>
                                            <td><%= usrs[u].date_join %></td>
                                            <td>
                                                <%= usrs[u].last_login %>
                                            </td>
                                            <td>
                                                <a href="/admin/edit_user/<%= usrs[u].id %>" class="btn btn-primary btn-sm">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <button type="button" class="btn btn-danger btn-sm remove" data-id="<%= usrs[u].id %>" data-table="users" data-name="<%= usrs[u].fname %>">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <% } %>
                                
                                </tbody>
                            </table>
                        <% } else { %>
                            <div class="w-100 text-center alert alert-danger text-danger">
                                No Users Available!
                            </div>
                        <% } %>
                        </div>


                        </main>

                </div>
            </div>
<script src="/js/custom/main.js"></script>
<script type="module" src="/js/custom/validator.js"></script>
<script type="module" src="/js/custom/helper.js"></script>
<script type="module" src="/js/custom/script_1.js"></script>


    </body>

    </html>